body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

canvas {
  border: solid 1px #000;
  height: 60vh;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-container p {
  margin-bottom: 5px;
}
